In [4]:
import json
import requests
import pandas as pd

In [7]:
headers = '''
Accept: */*
Accept-Encoding: gzip, deflate, br
Accept-Language: ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7
Connection: keep-alive
Content-Length: 100
content-type: application/json
Cookie: suid=b5430380acb2bf360f750a20ca23eef2.02bc33dc4acc174654d89abdb885812f; yandexuid=9558372421624656382; my=YwA%3D; _ym_uid=1627197454861195267; new-controls-notify-hidden=true; gids=; hide-proauto-pimple=1; listing_view=%7B%22output_type%22%3Anull%2C%22version%22%3A1%7D; _csrf_token=ec8118c91ab20fb2a75cdb29d63b841f936106aa1bfc0bba; autoru_sid=a%3Ag611a904f2s8mcvohpn507b29e9ht76l.6f907561e1031af2148ff6c2a96830b9%7C1629130831830.604800.0TStDj2F9ekCLHFe0su8Uw.fWjINkRdD-gr89pu37J9bUMv8k7Wd4WjsXS7jFXdn1M; autoruuid=g611a904f2s8mcvohpn507b29e9ht76l.6f907561e1031af2148ff6c2a96830b9; from=direct; X-Vertis-DC=vla; yuidlt=1; gdpr=0; _ym_isad=1; crookie=6ZIxJXa6gGPGrQ3F3eKue/B77CuUYDw/PUwlwSpVy4aZY90bDyVVkvr1AyDR7t4j0eWDIm1JkOwrxsM4nn9UFbbvyig=; cmtchd=MTYyOTEzMDgzODc2OQ==; bltsr=1; autoru-visits-count=3; autoru-visits-session-unexpired=1; from_lifetime=1629131045316; _ym_d=1629131055
Host: auto.ru
Origin: https://auto.ru
Referer: https://auto.ru/cars/bmw/all/?page=2
sec-ch-ua: "Chromium";v="92", " Not A;Brand";v="99", "Google Chrome";v="92"
sec-ch-ua-mobile: ?0
Sec-Fetch-Dest: empty
Sec-Fetch-Mode: same-origin
Sec-Fetch-Site: same-origin
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36
x-client-app-version: 87440c404f8
x-client-date: 1629131060293
x-csrf-token: ec8118c91ab20fb2a75cdb29d63b841f936106aa1bfc0bba
X-KL-Ajax-Request: Ajax_Request
x-page-request-id: 43dce6648ff2e173235055baea1f9af8
x-requested-with: fetch
'''.strip().split("\n")

url = "https://auto.ru/-/ajax/desktop/listing/"
dict_headers = {}
for header in headers:
    key, value = header.split(': ')
    dict_headers[key] = value
#print(dict_headers)
mark_list = ['NISSAN', 'KIA', 'BMW', 'HYUNDAI', 'TAGAZ', 'VAZ', 'MERCEDES',
       'RENAULT', 'LAND_ROVER', 'TOYOTA', 'PORSCHE', 'SKODA', 'VOLVO',
       'ZAZ', 'VOLKSWAGEN', 'LAMBORGHINI', 'CITROEN', 'SUZUKI', 'GEELY',
       'MITSUBISHI', 'IG', 'AUDI', 'MINI', 'FORD', 'CHEVROLET', 'LEXUS',
       'MAZDA', 'FERRARI', 'LIFAN', 'HONDA', 'INFINITI', 'PEUGEOT', 'UAZ',
       'OPEL', 'JEEP', 'GAZ', 'SSANG_YONG', 'DATSUN', 'CHERY', 'FIAT',
       'JAGUAR', 'TESLA', 'CADILLAC', 'DONGFENG', 'DODGE', 'CHRYSLER',
       'SUBARU', 'GREAT_WALL', 'RAVON', 'FAW', 'BYD', 'HAVAL', 'DAEWOO',
       'BRILLIANCE', 'SEAT', 'VORTEX', 'CHANGAN', 'PONTIAC', 'BENTLEY',
       'HUMMER', 'RAM', 'GENESIS', 'DACIA', 'GMC', 'LINCOLN', 'MASERATI',
       'MOSCVICH', 'ACURA']
mark_list2 = ['SKODA', 'AUDI', 'HONDA', 'VOLVO', 'BMW', 'NISSAN', 'INFINITI',
       'MERCEDES', 'TOYOTA', 'LEXUS', 'VOLKSWAGEN', 'MITSUBISHI']
for element in mark_list2:
    offers = []
    mark_type=[{'mark':element }]
    for x in range(100):
        param = {
            "catalog_filter": mark_type,
            "section":"used",
            "category":"cars",
            "geo_radius": 200, 
            "geo_id": [213],
            "page":x
        }
        try:
            response = requests.post(url, json=param, headers = dict_headers)
            data = response.json()
            offers.extend(data['offers'])
            print("current page: ", x)
        except KeyError:
            print("error at page", x)

    with open("dp4"+element+".json", "w", encoding="utf8") as f:
        json.dump(offers, f)

current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
error at page 37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57

current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
error at page 24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
error at page 33
current page:  34
error at page 35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
error at page 45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16

current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
error at page 34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
error at page 46
current page:  47
current page:  48
error at page 49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99
current page:  0
current page:  1
current page:  2
current page:  3
current page:  4
current page:  5
current page:  6
current page:  7
current page:  8
current page:  9
current page:  10
current page:  11
current page:  12
current page:  13
current page:  14
current page:  15
current page:  16
current page:  17
current page:  18
current page:  19
current page:  20
current page:  21
current page:  22
current page:  23
current page:  24
current page:  25
current page:  26
current page:  27
current page:  28
current page:  29
current page:  30
current page:  31
current page:  32
current page:  33
current page:  34
current page:  35
current page:  36
current page:  37
current page:  38
current page:  39
current page:  40
current page:  41
current page:  42
current page:  43
current page:  44
current page:  45
current page:  46
current page:  47
current page:  48
current page:  49
current page:  50
current page:  51
current page:  52
current page:  53
current page:  54
current page:  55
current page:  56
current page:  57
current page:  58
current page:  59
current page:  60
current page:  61
current page:  62
current page:  63
current page:  64
current page:  65
current page:  66
current page:  67
current page:  68
current page:  69
current page:  70
current page:  71
current page:  72
current page:  73
current page:  74
current page:  75
current page:  76
current page:  77
current page:  78
current page:  79
current page:  80
current page:  81
current page:  82
current page:  83
current page:  84
current page:  85
current page:  86
current page:  87
current page:  88
current page:  89
current page:  90
current page:  91
current page:  92
current page:  93
current page:  94
current page:  95
current page:  96
current page:  97
current page:  98
current page:  99

In [46]:
with open("dataparts"+str(0)+".json", "r", encoding="utf8") as f:
        data = json.load(f)
        df = pd.read_json("dataparts"+str(0)+".json")
for i in range(60):
    with open("dataparts"+str(i)+".json", "r", encoding="utf8") as f:
        data = json.load(f)
        df = df.append(pd.read_json("dataparts"+str(i)+".json"))

In [47]:
df

,availability,category,color_hex,delivery_info,description,discount_options,documents,is_favorite,old_category_id,owner_expenses,...,sub_category,vehicle_info,lk_summary,shark_info,dealer_credit_config,badges,brand_cert_info,recall_info,soldMinutes,discount_price
0,IN_STOCK,cars,22A0F8,{},"У нас цены ниже чем у всех, Гарантируем - КЛЮЧ...",{'max_discount': 232678},"{'pts_original': True, 'custom_cleared': True,...",False,15,"{'transport_tax': {'tax_by_year': 1725, 'year'...",...,cars,"{'configuration': {'id': '21061005', 'body_typ...","1.2 MT (115 л.с.), внедорожник, передний, бензин",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IN_STOCK,cars,FAFBFB,{},❗️Автомобиль был куплен у официального дилера ...,{},"{'owners_number': 1, 'pts_original': True, 'cu...",False,15,"{'transport_tax': {'tax_by_year': 4215, 'year'...",...,cars,"{'configuration': {'id': '20683816', 'body_typ...","2.0 AT (150 л.с.), внедорожник, полный, бензин","{'suitable_credit_product_ids': ['alfabank-1',...",NaN,NaN,NaN,NaN,NaN,NaN
2,IN_STOCK,cars,FAFBFB,{},Комплектация: xDrive40i M Sport Edition 21 ———...,"{'tradein': 200000, 'credit': 603000, 'max_dis...","{'pts_original': True, 'custom_cleared': True,...",False,15,"{'transport_tax': {'tax_by_year': 102000, 'yea...",...,cars,"{'configuration': {'id': '21307996', 'body_typ...","3.0 AT (340 л.с.), внедорожник, полный, бензин",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IN_STOCK,cars,040001,{},Комплектация: Hyundai Solaris Active Plus 1.6 ...,{'max_discount': 161170},"{'pts_original': True, 'custom_cleared': True,...",False,15,"{'transport_tax': {'tax_by_year': 4182, 'year'...",...,cars,"{'configuration': {'id': '21796128', 'body_typ...","1.6 AT (123 л.с.), седан, передний, бензин",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IN_STOCK,cars,0000CC,{},.Автомобиль в отличном состоянии. Прекрасный в...,"{'tradein': 30000, 'insurance': 20000, 'credit...","{'owners_number': 2, 'pts_original': True, 'cu...",False,15,"{'transport_tax': {'tax_by_year': 4515, 'year'...",...,cars,"{'configuration': {'id': '4646850', 'body_type...","2.9d MT (129 л.с.), внедорожник, полный, дизель","{'suitable_credit_product_ids': ['alfabank-1',...","{'credit_term_values': [1, 2, 3, 4, 5, 6], 'cr...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,IN_STOCK,cars,97948F,{},Электростеклоподъемники передние!!! Оформление...,{},"{'owners_number': 3, 'custom_cleared': True, '...",False,15,"{'transport_tax': {'tax_by_year': 1050, 'year'...",...,cars,"{'configuration': {'id': '6257234', 'body_type...","1.5 MT (70 л.с.), седан, передний, бензин",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1896,IN_STOCK,cars,040001,{},✅ Автомобиль в наличии у официального дилера L...,{},"{'owners_number': 1, 'pts_original': True, 'cu...",False,15,"{'transport_tax': {'tax_by_year': 3180, 'year'...",...,cars,"{'configuration': {'id': '20417777', 'body_typ...","1.6 MT (106 л.с.), седан, передний, бензин","{'suitable_credit_product_ids': ['alfabank-1',...","{'credit_term_values': [1, 2, 3, 4, 5, 6, 7], ...",NaN,NaN,NaN,NaN,NaN
1897,IN_STOCK,cars,040001,{},Ваш выбор и Ваше время — наши главные приорите...,{},"{'owners_number': 4, 'pts_original': True, 'cu...",False,15,"{'transport_tax': {'tax_by_year': 18000, 'year...",...,cars,"{'configuration': {'id': '4841634', 'body_type...","3.5 AT (240 л.с.), внедорожник, полный, бензин","{'suitable_credit_product_ids': ['alfabank-1',...","{'credit_term_values': [3, 4, 5], 'credit_defa...",NaN,NaN,NaN,NaN,NaN
1898,IN_STOCK,cars,040001,{},"смотр: г. Москва, ул. Обручева, д.52, стр.69\n...",{},"{'owners_number': 2, 'pts_original': True, 'cu...",False,15,"{'transport_tax': {'tax_by_year': 7200, 'year'...",...,cars,"{'configuration': {'id': '2307379', 'body_type...","2.2d AT (160 л.с.), внедорожник, полный, дизель","{'suitable_credit_product_ids': ['alfabank-1',...",NaN,NaN,NaN,NaN,NaN,NaN
1899,IN_STOCK,cars,CACECB,{},———————————————————————————\nФУНКЦИОНАЛЬНОЕ ОБ...,"{'tradein': 100000, 'credit': 200000, 'max_dis...","{'pts_original': True, 'custom_cleared': True,...",False,15,"{'transport_tax': {'tax_by_year': 3075, 'year'...",...,cars,"{'configuration': {'id': '21796128', 'body_typ...","1.6 AT (123 л.с.), седан, передний, бензин",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
df.drop(['availability','category','delivery_info','description','discount_options','is_favorite','old_category_id','seller','service_prices',
        'sub_category'],axis=1,inplace=True)

In [49]:
df.drop(['seller_type','shark_info','status','tags','recall_info','saleId'],axis=1,inplace=True)

In [50]:
df.drop(['score','services','relevance','additional_info','counters','grouping_info'],axis=1,inplace=True)

In [51]:
df.drop(['hash','id','multiposting','price_history'],axis=1,inplace=True)

In [52]:
df.drop(['soldMinutes','badges','dealer_credit_config'],axis=1,inplace=True)

In [53]:
df.drop(['brand_cert_info','discount_price'],axis=1,inplace=True)

In [54]:
df.drop('lk_summary',axis=1,inplace=True)

In [55]:
df.drop('salon',axis=1,inplace=True)

In [56]:
df

,color_hex,documents,owner_expenses,section,price_info,state,vehicle_info
0,22A0F8,"{'pts_original': True, 'custom_cleared': True,...","{'transport_tax': {'tax_by_year': 1725, 'year'...",new,"{'price': 1682678, 'currency': 'RUR', 'EUR': 1...","{'state_not_beaten': True, 'image_urls': [{'si...","{'configuration': {'id': '21061005', 'body_typ..."
1,FAFBFB,"{'owners_number': 1, 'pts_original': True, 'cu...","{'transport_tax': {'tax_by_year': 4215, 'year'...",used,"{'price': 1580000, 'currency': 'RUR', 'EUR': 1...","{'mileage': 86000, 'state_not_beaten': True, '...","{'configuration': {'id': '20683816', 'body_typ..."
2,FAFBFB,"{'pts_original': True, 'custom_cleared': True,...","{'transport_tax': {'tax_by_year': 102000, 'yea...",new,"{'price': 6966000, 'currency': 'RUR', 'EUR': 8...","{'state_not_beaten': True, 'image_urls': [{'si...","{'configuration': {'id': '21307996', 'body_typ..."
3,040001,"{'pts_original': True, 'custom_cleared': True,...","{'transport_tax': {'tax_by_year': 4182, 'year'...",new,"{'price': 1026000, 'currency': 'RUR', 'EUR': 1...","{'state_not_beaten': True, 'image_urls': [{'si...","{'configuration': {'id': '21796128', 'body_typ..."
4,0000CC,"{'owners_number': 2, 'pts_original': True, 'cu...","{'transport_tax': {'tax_by_year': 4515, 'year'...",used,"{'price': 419000, 'currency': 'RUR', 'EUR': 48...","{'mileage': 86000, 'state_not_beaten': True, '...","{'configuration': {'id': '4646850', 'body_type..."
...,...,...,...,...,...,...,...
1895,97948F,"{'owners_number': 3, 'custom_cleared': True, '...","{'transport_tax': {'tax_by_year': 1050, 'year'...",used,"{'price': 83000, 'currency': 'RUR', 'EUR': 960...","{'mileage': 280544, 'state_not_beaten': True, ...","{'configuration': {'id': '6257234', 'body_type..."
1896,040001,"{'owners_number': 1, 'pts_original': True, 'cu...","{'transport_tax': {'tax_by_year': 3180, 'year'...",used,"{'price': 739400, 'currency': 'RUR', 'EUR': 85...","{'mileage': 61281, 'state_not_beaten': True, '...","{'configuration': {'id': '20417777', 'body_typ..."
1897,040001,"{'owners_number': 4, 'pts_original': True, 'cu...","{'transport_tax': {'tax_by_year': 18000, 'year...",used,"{'price': 384000, 'currency': 'RUR', 'EUR': 44...","{'mileage': 203551, 'state_not_beaten': True, ...","{'configuration': {'id': '4841634', 'body_type..."
1898,040001,"{'owners_number': 2, 'pts_original': True, 'cu...","{'transport_tax': {'tax_by_year': 7200, 'year'...",used,"{'price': 815000, 'currency': 'RUR', 'EUR': 94...","{'mileage': 209159, 'state_not_beaten': True, ...","{'configuration': {'id': '2307379', 'body_type..."
1899,CACECB,"{'pts_original': True, 'custom_cleared': True,...","{'transport_tax': {'tax_by_year': 3075, 'year'...",new,"{'price': 1056000, 'currency': 'RUR', 'EUR': 1...","{'state_not_beaten': True, 'image_urls': [{'si...","{'configuration': {'id': '21796128', 'body_typ..."

In [57]:
df['price'] = df.price_info.apply(lambda x: x.get('price',0))

In [58]:
df['mileage'] = df.state.apply(lambda x: x.get('mileage',0))

In [59]:
df['state_not_beaten'] = df.state.apply(lambda x: x.get('state_not_beaten',True))

In [60]:
df['owners_number'] = df.documents.apply(lambda x: x.get('owners_number',0))

In [61]:
df['year'] = df.documents.apply(lambda x: x.get('year'))

In [62]:
df['custom_cleared'] = df.documents.apply(lambda x: x.get('custom_cleared'))

In [63]:
df.documents.iloc[1]

{'owners_number': 1,
 'pts_original': True,
 'custom_cleared': True,
 'purchase_date': {'year': 2018, 'month': 9},
 'year': 2018,
 'vin': 'XWE**************',
 'pts': 'ORIGINAL',
 'license_plate': '******|76',
 'vin_resolution': 'ERROR'}

In [64]:
df.drop(['state','documents','price_info'],axis=1,inplace=True)

In [65]:
df.vehicle_info.iloc[0]['configuration']

{'id': '21061005',
 'body_type': 'ALLROAD_5_DOORS',
 'doors_count': 5,
 'auto_class': 'J',
 'human_name': 'Внедорожник 5 дв.',
 'trunk_volume_min': 430,
 'trunk_volume_max': 1585,
 'body_type_group': 'ALLROAD_5_DOORS',
 'main_photo': {'sizes': {'orig': '//avatars.mds.yandex.net/get-verba/1030388/2a0000016096a5ad5930ff11f911fd4a4b74/orig',
   'wizardv3mr': '//avatars.mds.yandex.net/get-verba/1030388/2a0000016096a5ad5930ff11f911fd4a4b74/wizardv3mr',
   'cattouch': '//avatars.mds.yandex.net/get-verba/1030388/2a0000016096a5ad5930ff11f911fd4a4b74/cattouch'}},
 'tags': ['liquid',
  'oversize',
  'wide-back-seats',
  'all-terrain',
  'medium',
  'novice-drivers']}

In [66]:
df['configuration'] = df.vehicle_info.apply(lambda x:x.get('configuration'))

In [67]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration
0,22A0F8,"{'transport_tax': {'tax_by_year': 1725, 'year'...",new,"{'configuration': {'id': '21061005', 'body_typ...",1682678,0,True,0,2021,True,"{'id': '21061005', 'body_type': 'ALLROAD_5_DOO..."
1,FAFBFB,"{'transport_tax': {'tax_by_year': 4215, 'year'...",used,"{'configuration': {'id': '20683816', 'body_typ...",1580000,86000,True,1,2018,True,"{'id': '20683816', 'body_type': 'ALLROAD_5_DOO..."
2,FAFBFB,"{'transport_tax': {'tax_by_year': 102000, 'yea...",new,"{'configuration': {'id': '21307996', 'body_typ...",6966000,0,True,0,2021,True,"{'id': '21307996', 'body_type': 'ALLROAD_5_DOO..."
3,040001,"{'transport_tax': {'tax_by_year': 4182, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1026000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door..."
4,0000CC,"{'transport_tax': {'tax_by_year': 4515, 'year'...",used,"{'configuration': {'id': '4646850', 'body_type...",419000,86000,True,2,2010,True,"{'id': '4646850', 'body_type': 'ALLROAD_3_DOOR..."
...,...,...,...,...,...,...,...,...,...,...,...
1895,97948F,"{'transport_tax': {'tax_by_year': 1050, 'year'...",used,"{'configuration': {'id': '6257234', 'body_type...",83000,280544,True,3,2003,True,"{'id': '6257234', 'body_type': 'SEDAN', 'doors..."
1896,040001,"{'transport_tax': {'tax_by_year': 3180, 'year'...",used,"{'configuration': {'id': '20417777', 'body_typ...",739400,61281,True,1,2019,True,"{'id': '20417777', 'body_type': 'SEDAN', 'door..."
1897,040001,"{'transport_tax': {'tax_by_year': 18000, 'year...",used,"{'configuration': {'id': '4841634', 'body_type...",384000,203551,True,4,2001,True,"{'id': '4841634', 'body_type': 'ALLROAD_5_DOOR..."
1898,040001,"{'transport_tax': {'tax_by_year': 7200, 'year'...",used,"{'configuration': {'id': '2307379', 'body_type...",815000,209159,True,2,2009,True,"{'id': '2307379', 'body_type': 'ALLROAD_5_DOOR..."
1899,CACECB,"{'transport_tax': {'tax_by_year': 3075, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1056000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door..."

In [68]:
df.vehicle_info.iloc[0]['equipment']

{'cruise-control': True,
 'asr': True,
 'esp': True,
 'usb': True,
 'multi-wheel': True,
 'airbag-passenger': True,
 'front-centre-armrest': True,
 'front-seat-support': True,
 'bas': True,
 'lock': True,
 'electro-mirrors': True,
 'drl': True,
 'electro-window-back': True,
 'mirrors-heat': True,
 '17-inch-wheels': True,
 'park-assist-f': True,
 'wheel-heat': True,
 'led-lights': True,
 'park-assist-r': True,
 'engine-proof': True,
 'glonass': True,
 'airbag-driver': True,
 'aux': True,
 'isofix': True,
 'electro-window-front': True,
 'light-sensor': True,
 'hcc': True,
 'airbag-curtain': True,
 'passenger-seat-updown': True,
 'computer': True,
 'seat-transformation': True,
 'wheel-power': True,
 'fabric-seats': True,
 'alloy-wheel-disks': True,
 'rain-sensor': True,
 'airbag-side': True,
 'audiosystem-cd': True,
 'abs': True,
 'bluetooth': True,
 'front-seats-heat': True,
 'wheel-leather': True,
 'wheel-configuration2': True,
 'wheel-configuration1': True,
 'immo': True,
 'windscreen-heat': True,
 'climate-control-2': True,
 'auto-mirrors': True,
 '12v-socket': True,
 'third-rear-headrest': True}

In [69]:
df['equipment'] = df.vehicle_info.apply(lambda x:x.get('equipment'))

In [70]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration,equipment
0,22A0F8,"{'transport_tax': {'tax_by_year': 1725, 'year'...",new,"{'configuration': {'id': '21061005', 'body_typ...",1682678,0,True,0,2021,True,"{'id': '21061005', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T..."
1,FAFBFB,"{'transport_tax': {'tax_by_year': 4215, 'year'...",used,"{'configuration': {'id': '20683816', 'body_typ...",1580000,86000,True,1,2018,True,"{'id': '20683816', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'esp': True, 'airbag-..."
2,FAFBFB,"{'transport_tax': {'tax_by_year': 102000, 'yea...",new,"{'configuration': {'id': '21307996', 'body_typ...",6966000,0,True,0,2021,True,"{'id': '21307996', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T..."
3,040001,"{'transport_tax': {'tax_by_year': 4182, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1026000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'asr': True, 'glonass': True, 'esp': True, 'a..."
4,0000CC,"{'transport_tax': {'tax_by_year': 4515, 'year'...",used,"{'configuration': {'id': '4646850', 'body_type...",419000,86000,True,2,2010,True,"{'id': '4646850', 'body_type': 'ALLROAD_3_DOOR...","{'electro-window-back': True, 'feedback-alarm'..."
...,...,...,...,...,...,...,...,...,...,...,...,...
1895,97948F,"{'transport_tax': {'tax_by_year': 1050, 'year'...",used,"{'configuration': {'id': '6257234', 'body_type...",83000,280544,True,3,2003,True,"{'id': '6257234', 'body_type': 'SEDAN', 'doors...","{'steel-wheels': True, 'immo': True, 'electro-..."
1896,040001,"{'transport_tax': {'tax_by_year': 3180, 'year'...",used,"{'configuration': {'id': '20417777', 'body_typ...",739400,61281,True,1,2019,True,"{'id': '20417777', 'body_type': 'SEDAN', 'door...","{'condition': True, 'front-seats-heat': True, ..."
1897,040001,"{'transport_tax': {'tax_by_year': 18000, 'year...",used,"{'configuration': {'id': '4841634', 'body_type...",384000,203551,True,4,2001,True,"{'id': '4841634', 'body_type': 'ALLROAD_5_DOOR...","{'asr': True, 'aux': True, 'usb': True, 'hatch..."
1898,040001,"{'transport_tax': {'tax_by_year': 7200, 'year'...",used,"{'configuration': {'id': '2307379', 'body_type...",815000,209159,True,2,2009,True,"{'id': '2307379', 'body_type': 'ALLROAD_5_DOOR...","{'cruise-control': True, 'asr': True, 'esp': T..."
1899,CACECB,"{'transport_tax': {'tax_by_year': 3075, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1056000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'cruise-control': True, 'asr': True, 'esp': T..."

In [71]:
df.vehicle_info.iloc[0]['mark_info']

{'code': 'NISSAN',
 'name': 'Nissan',
 'ru_name': 'Ниссан',
 'logo': {'name': 'mark-logo',
  'sizes': {'logo': '//avatars.mds.yandex.net/get-verba/3587101/2a00000179b3e3855153a7ad4c6acf51a351/logo',
   'big-logo': '//avatars.mds.yandex.net/get-verba/3587101/2a00000179b3e3855153a7ad4c6acf51a351/dealer_logo',
   'black-logo': '//avatars.mds.yandex.net/get-verba/216201/2a00000179b3e3a92be182185a156cc9eac5/logo'}},
 'numeric_id': '3176'}

In [72]:
df['mark_info'] = df.vehicle_info.apply(lambda x:x.get('mark_info'))

In [73]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration,equipment,mark_info
0,22A0F8,"{'transport_tax': {'tax_by_year': 1725, 'year'...",new,"{'configuration': {'id': '21061005', 'body_typ...",1682678,0,True,0,2021,True,"{'id': '21061005', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'NISSAN', 'name': 'Nissan', 'ru_name'..."
1,FAFBFB,"{'transport_tax': {'tax_by_year': 4215, 'year'...",used,"{'configuration': {'id': '20683816', 'body_typ...",1580000,86000,True,1,2018,True,"{'id': '20683816', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'esp': True, 'airbag-...","{'code': 'KIA', 'name': 'Kia', 'ru_name': 'Киа..."
2,FAFBFB,"{'transport_tax': {'tax_by_year': 102000, 'yea...",new,"{'configuration': {'id': '21307996', 'body_typ...",6966000,0,True,0,2021,True,"{'id': '21307996', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'BMW', 'name': 'BMW', 'ru_name': 'БМВ..."
3,040001,"{'transport_tax': {'tax_by_year': 4182, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1026000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'asr': True, 'glonass': True, 'esp': True, 'a...","{'code': 'HYUNDAI', 'name': 'Hyundai', 'ru_nam..."
4,0000CC,"{'transport_tax': {'tax_by_year': 4515, 'year'...",used,"{'configuration': {'id': '4646850', 'body_type...",419000,86000,True,2,2010,True,"{'id': '4646850', 'body_type': 'ALLROAD_3_DOOR...","{'electro-window-back': True, 'feedback-alarm'...","{'code': 'TAGAZ', 'name': 'ТагАЗ', 'ru_name': ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1895,97948F,"{'transport_tax': {'tax_by_year': 1050, 'year'...",used,"{'configuration': {'id': '6257234', 'body_type...",83000,280544,True,3,2003,True,"{'id': '6257234', 'body_type': 'SEDAN', 'doors...","{'steel-wheels': True, 'immo': True, 'electro-...","{'code': 'VAZ', 'name': 'LADA (ВАЗ)', 'ru_name..."
1896,040001,"{'transport_tax': {'tax_by_year': 3180, 'year'...",used,"{'configuration': {'id': '20417777', 'body_typ...",739400,61281,True,1,2019,True,"{'id': '20417777', 'body_type': 'SEDAN', 'door...","{'condition': True, 'front-seats-heat': True, ...","{'code': 'VAZ', 'name': 'LADA (ВАЗ)', 'ru_name..."
1897,040001,"{'transport_tax': {'tax_by_year': 18000, 'year...",used,"{'configuration': {'id': '4841634', 'body_type...",384000,203551,True,4,2001,True,"{'id': '4841634', 'body_type': 'ALLROAD_5_DOOR...","{'asr': True, 'aux': True, 'usb': True, 'hatch...","{'code': 'ACURA', 'name': 'Acura', 'ru_name': ..."
1898,040001,"{'transport_tax': {'tax_by_year': 7200, 'year'...",used,"{'configuration': {'id': '2307379', 'body_type...",815000,209159,True,2,2009,True,"{'id': '2307379', 'body_type': 'ALLROAD_5_DOOR...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'LAND_ROVER', 'name': 'Land Rover', '..."
1899,CACECB,"{'transport_tax': {'tax_by_year': 3075, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1056000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'HYUNDAI', 'name': 'Hyundai', 'ru_nam..."

In [74]:
df.vehicle_info.iloc[0]['model_info']

{'code': 'QASHQAI',
 'name': 'Qashqai',
 'ru_name': 'Кашкай',
 'morphology': {},
 'nameplate': {'code': '', 'name': '', 'semantic_url': ''}}

In [75]:
df['model_info'] = df.vehicle_info.apply(lambda x:x.get('model_info'))

In [76]:
df.vehicle_info.iloc[0]['steering_wheel']

'LEFT'

In [77]:
df['steering_wheel'] = df.vehicle_info.apply(lambda x:x.get('steering_wheel'))

In [78]:
df.vehicle_info.iloc[0]['tech_param']

{'id': '21521720',
 'displacement': 1197,
 'engine_type': 'GASOLINE',
 'gear_type': 'FORWARD_CONTROL',
 'transmission': 'MECHANICAL',
 'power': 115,
 'power_kvt': 85,
 'human_name': '1.2 MT (115 л.с.)',
 'acceleration': 10.9,
 'clearance_min': 200,
 'fuel_rate': 6.2}

In [79]:
df['tech_param'] = df.vehicle_info.apply(lambda x:x.get('tech_param'))

In [80]:
df.vehicle_info.iloc[0]['super_gen']

{'id': '21060966',
 'name': 'II Рестайлинг',
 'ru_name': '2 Рестайлинг',
 'year_from': 2017,
 'price_segment': 'MEDIUM'}

In [81]:
df['super_gen'] = df.vehicle_info.apply(lambda x:x.get('super_gen'))

In [82]:
df['body_type']= df.configuration.apply(lambda x:x.get('body_type'))

In [83]:
df.body_type.unique()

array(['ALLROAD_5_DOORS', 'SEDAN', 'ALLROAD_3_DOORS', 'MINIVAN',
       'HATCHBACK_5_DOORS', 'COUPE', 'LIFTBACK', 'SEDAN_2_DOORS',
       'WAGON_5_DOORS', 'COMPACTVAN', 'HATCHBACK_3_DOORS', 'ROADSTER',
       'VAN', 'PICKUP_TWO', 'CABRIO', 'COUPE_HARDTOP'], dtype=object)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114950 entries, 0 to 1899
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   color_hex         114950 non-null  object
 1   owner_expenses    114361 non-null  object
 2   section           114950 non-null  object
 3   vehicle_info      114950 non-null  object
 4   price             114950 non-null  int64
 5   mileage           114950 non-null  int64
 6   state_not_beaten  114950 non-null  bool
 7   owners_number     114950 non-null  int64
 8   year              114950 non-null  int64
 9   custom_cleared    114950 non-null  bool
 10  configuration     114950 non-null  object
 11  equipment         114950 non-null  object
 12  mark_info         114950 non-null  object
 13  model_info        114950 non-null  object
 14  steering_wheel    114950 non-null  object
 15  tech_param        114950 non-null  object
 16  super_gen         114950 non-null  object
 17  body_type         114950 non-null  object
dtypes: bool(2), int64(4), object(12)
memory usage: 15.1+ MB

In [91]:
df.to_csv('autoru_parsing_17_08_21.csv', sep='\t', encoding='utf-8')

In [97]:
df.reset_index(inplace=True)

In [98]:
df

,index,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration,equipment,mark_info,model_info,steering_wheel,tech_param,super_gen,body_type
0,0,22A0F8,"{'transport_tax': {'tax_by_year': 1725, 'year'...",new,"{'configuration': {'id': '21061005', 'body_typ...",1682678,0,True,0,2021,True,"{'id': '21061005', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'NISSAN', 'name': 'Nissan', 'ru_name'...","{'code': 'QASHQAI', 'name': 'Qashqai', 'ru_nam...",LEFT,"{'id': '21521720', 'displacement': 1197, 'engi...","{'id': '21060966', 'name': 'II Рестайлинг', 'r...",ALLROAD_5_DOORS
1,1,FAFBFB,"{'transport_tax': {'tax_by_year': 4215, 'year'...",used,"{'configuration': {'id': '20683816', 'body_typ...",1580000,86000,True,1,2018,True,"{'id': '20683816', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'esp': True, 'airbag-...","{'code': 'KIA', 'name': 'Kia', 'ru_name': 'Киа...","{'code': 'SPORTAGE', 'name': 'Sportage', 'ru_n...",LEFT,"{'id': '20769381', 'displacement': 1999, 'engi...","{'id': '20683534', 'name': 'IV', 'ru_name': '4...",ALLROAD_5_DOORS
2,2,FAFBFB,"{'transport_tax': {'tax_by_year': 102000, 'yea...",new,"{'configuration': {'id': '21307996', 'body_typ...",6966000,0,True,0,2021,True,"{'id': '21307996', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'BMW', 'name': 'BMW', 'ru_name': 'БМВ...","{'code': 'X5', 'name': 'X5', 'ru_name': 'Х5', ...",LEFT,"{'id': '21308175', 'name': '40i', 'nameplate':...","{'id': '21307931', 'name': 'IV (G05)', 'ru_nam...",ALLROAD_5_DOORS
3,3,040001,"{'transport_tax': {'tax_by_year': 4182, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1026000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'asr': True, 'glonass': True, 'esp': True, 'a...","{'code': 'HYUNDAI', 'name': 'Hyundai', 'ru_nam...","{'code': 'SOLARIS', 'name': 'Solaris', 'ru_nam...",LEFT,"{'id': '21796132', 'displacement': 1591, 'engi...","{'id': '21796089', 'name': 'II Рестайлинг', 'r...",SEDAN
4,4,0000CC,"{'transport_tax': {'tax_by_year': 4515, 'year'...",used,"{'configuration': {'id': '4646850', 'body_type...",419000,86000,True,2,2010,True,"{'id': '4646850', 'body_type': 'ALLROAD_3_DOOR...","{'electro-window-back': True, 'feedback-alarm'...","{'code': 'TAGAZ', 'name': 'ТагАЗ', 'ru_name': ...","{'code': 'TAGER', 'name': 'Tager', 'ru_name': ...",LEFT,"{'id': '20964312', 'displacement': 2874, 'engi...","{'id': '4646839', 'year_from': 2008, 'year_to'...",ALLROAD_3_DOORS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114945,1895,97948F,"{'transport_tax': {'tax_by_year': 1050, 'year'...",used,"{'configuration': {'id': '6257234', 'body_type...",83000,280544,True,3,2003,True,"{'id': '6257234', 'body_type': 'SEDAN', 'doors...","{'steel-wheels': True, 'immo': True, 'electro-...","{'code': 'VAZ', 'name': 'LADA (ВАЗ)', 'ru_name...","{'code': '21099', 'name': '21099', 'ru_name': ...",LEFT,"{'id': '6257236', 'displacement': 1499, 'engin...","{'id': '6257233', 'year_from': 1990, 'year_to'...",SEDAN
114946,1896,040001,"{'transport_tax': {'tax_by_year': 3180, 'year'...",used,"{'configuration': {'id': '20417777', 'body_typ...",739400,61281,True,1,2019,True,"{'id': '20417777', 'body_type': 'SEDAN', 'door...","{'condition': True, 'front-seats-heat': True, ...","{'code': 'VAZ', 'name': 'LADA (ВАЗ)', 'ru_name...","{'code': 'VESTA', 'name': 'Vesta', 'ru_name': ...",LEFT,"{'id': '20417814', 'displacement': 1596, 'engi...","{'id': '20417749', 'name': 'I', 'year_from': 2...",SEDAN
114947,1897,040001,"{'transport_tax': {'tax_by_year': 18000, 'year...",used,"{'configuration': {'id': '4841634', 'body_type...",384000,203551,True,4,2001,True,"{'id': '4841634', 'body_type': 'ALLROAD_5_DOOR...","{'asr': True, 'aux': True, 'usb': True, 'hatch...","{'code': 'ACURA', 'name': 'Acura', 'ru_name': ...","{'code': 'MDX', 'name': 'MDX', 'ru_name': 'мдх...",LEFT,"{'id': '20388407', 'displacement': 3471, 'engi...","{'id': '4841633', 'name': 'I', 'ru_name': '1',...",ALLROAD_5_DOORS
114948,1898,040001,"{'transport_tax': {'tax_by_year': 7200, 'year'...",used,"{'configuration': {'id': '2307379', 'body_type...",815000,209159,True,2,2009,True,"{'id': '2307379', 'body_type': 'ALLROAD_5_DOOR...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'LAND_ROVER', 'name': 'Land Rover', '...","{'code': 'FREELANDER', 'name': 'Freelander', '...",LEFT,"{'id': '2307382', 'displacement': 2179, 'engin...","{'id': '2307378', 'name': 'II', 'ru_name': '2'...",ALLROAD_5_DOORS
114949,1899,CACECB,"{'transport_tax': {'tax_by_year': 3075, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1056000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'HYUNDAI', 'name': 'Hyundai', 'ru_nam...","{'code': 'SOLARIS', 'name': 'Solaris', 'ru_nam...",LEFT,"{'id': '21796132', 'displacement': 1591, 'engi...","{'id': '21796089', 'name': 'II Рестайлинг', 'r...",SEDAN

In [99]:
df.to_csv('autoru_parse_ind.csv', sep='\t', encoding='utf-8')

In [101]:
df_2=pd.read_csv('autoru_parse_ind.csv',sep='\t', encoding='utf-8')

In [104]:
df_2

,Unnamed: 0,index,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration,equipment,mark_info,model_info,steering_wheel,tech_param,super_gen,body_type
0,0,0,22A0F8,"{'transport_tax': {'tax_by_year': 1725, 'year'...",new,"{'configuration': {'id': '21061005', 'body_typ...",1682678,0,True,0,2021,True,"{'id': '21061005', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'NISSAN', 'name': 'Nissan', 'ru_name'...","{'code': 'QASHQAI', 'name': 'Qashqai', 'ru_nam...",LEFT,"{'id': '21521720', 'displacement': 1197, 'engi...","{'id': '21060966', 'name': 'II Рестайлинг', 'r...",ALLROAD_5_DOORS
1,1,1,FAFBFB,"{'transport_tax': {'tax_by_year': 4215, 'year'...",used,"{'configuration': {'id': '20683816', 'body_typ...",1580000,86000,True,1,2018,True,"{'id': '20683816', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'esp': True, 'airbag-...","{'code': 'KIA', 'name': 'Kia', 'ru_name': 'Киа...","{'code': 'SPORTAGE', 'name': 'Sportage', 'ru_n...",LEFT,"{'id': '20769381', 'displacement': 1999, 'engi...","{'id': '20683534', 'name': 'IV', 'ru_name': '4...",ALLROAD_5_DOORS
2,2,2,FAFBFB,"{'transport_tax': {'tax_by_year': 102000, 'yea...",new,"{'configuration': {'id': '21307996', 'body_typ...",6966000,0,True,0,2021,True,"{'id': '21307996', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'BMW', 'name': 'BMW', 'ru_name': 'БМВ...","{'code': 'X5', 'name': 'X5', 'ru_name': 'Х5', ...",LEFT,"{'id': '21308175', 'name': '40i', 'nameplate':...","{'id': '21307931', 'name': 'IV (G05)', 'ru_nam...",ALLROAD_5_DOORS
3,3,3,040001,"{'transport_tax': {'tax_by_year': 4182, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1026000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'asr': True, 'glonass': True, 'esp': True, 'a...","{'code': 'HYUNDAI', 'name': 'Hyundai', 'ru_nam...","{'code': 'SOLARIS', 'name': 'Solaris', 'ru_nam...",LEFT,"{'id': '21796132', 'displacement': 1591, 'engi...","{'id': '21796089', 'name': 'II Рестайлинг', 'r...",SEDAN
4,4,4,0000CC,"{'transport_tax': {'tax_by_year': 4515, 'year'...",used,"{'configuration': {'id': '4646850', 'body_type...",419000,86000,True,2,2010,True,"{'id': '4646850', 'body_type': 'ALLROAD_3_DOOR...","{'electro-window-back': True, 'feedback-alarm'...","{'code': 'TAGAZ', 'name': 'ТагАЗ', 'ru_name': ...","{'code': 'TAGER', 'name': 'Tager', 'ru_name': ...",LEFT,"{'id': '20964312', 'displacement': 2874, 'engi...","{'id': '4646839', 'year_from': 2008, 'year_to'...",ALLROAD_3_DOORS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114945,114945,1895,97948F,"{'transport_tax': {'tax_by_year': 1050, 'year'...",used,"{'configuration': {'id': '6257234', 'body_type...",83000,280544,True,3,2003,True,"{'id': '6257234', 'body_type': 'SEDAN', 'doors...","{'steel-wheels': True, 'immo': True, 'electro-...","{'code': 'VAZ', 'name': 'LADA (ВАЗ)', 'ru_name...","{'code': '21099', 'name': '21099', 'ru_name': ...",LEFT,"{'id': '6257236', 'displacement': 1499, 'engin...","{'id': '6257233', 'year_from': 1990, 'year_to'...",SEDAN
114946,114946,1896,040001,"{'transport_tax': {'tax_by_year': 3180, 'year'...",used,"{'configuration': {'id': '20417777', 'body_typ...",739400,61281,True,1,2019,True,"{'id': '20417777', 'body_type': 'SEDAN', 'door...","{'condition': True, 'front-seats-heat': True, ...","{'code': 'VAZ', 'name': 'LADA (ВАЗ)', 'ru_name...","{'code': 'VESTA', 'name': 'Vesta', 'ru_name': ...",LEFT,"{'id': '20417814', 'displacement': 1596, 'engi...","{'id': '20417749', 'name': 'I', 'year_from': 2...",SEDAN
114947,114947,1897,040001,"{'transport_tax': {'tax_by_year': 18000, 'year...",used,"{'configuration': {'id': '4841634', 'body_type...",384000,203551,True,4,2001,True,"{'id': '4841634', 'body_type': 'ALLROAD_5_DOOR...","{'asr': True, 'aux': True, 'usb': True, 'hatch...","{'code': 'ACURA', 'name': 'Acura', 'ru_name': ...","{'code': 'MDX', 'name': 'MDX', 'ru_name': 'мдх...",LEFT,"{'id': '20388407', 'displacement': 3471, 'engi...","{'id': '4841633', 'name': 'I', 'ru_name': '1',...",ALLROAD_5_DOORS
114948,114948,1898,040001,"{'transport_tax': {'tax_by_year': 7200, 'year'...",used,"{'configuration': {'id': '2307379', 'body_type...",815000,209159,True,2,2009,True,"{'id': '2307379', 'body_type': 'ALLROAD_5_DOOR...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'LAND_ROVER', 'name': 'Land Rover', '...","{'code': 'FREELANDER', 'name': 'Freelander', '...",LEFT,"{'id': '2307382', 'displacement': 2179, 'engin...","{'id': '2307378', 'name': 'II', 'ru_name': '2'...",ALLROAD_5_DOORS
114949,114949,1899,CACECB,"{'transport_tax': {'tax_by_year': 3075, 'year'...",new,"{'configuration': {'id': '21796128', 'body_typ...",1056000,0,True,0,2021,True,"{'id': '21796128', 'body_type': 'SEDAN', 'door...","{'cruise-control': True, 'asr': True, 'esp': T...","{'code': 'HYUNDAI', 'name': 'Hyundai', 'ru_nam...","{'code': 'SOLARIS', 'name': 'Solaris', 'ru_nam...",LEFT,"{'id': '21796132', 'displacement': 1591, 'engi...","{'id': '21796089', 'name': 'II Рестайлинг', 'r...",SEDAN

In [105]:
df_2.drop(['Unnamed: 0','index'],axis=1,inplace=True)

In [109]:
df_2.steering_wheel.value_counts()

LEFT     114550
RIGHT       400
Name: steering_wheel, dtype: int64