In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('autoru_parse_Moscow2.csv',sep='\t', encoding='utf-8')
#df_2 = pd.read_csv('autoru_61k.csv')

In [3]:
df.drop(['Unnamed: 0'],axis = 1, inplace=True)

In [4]:
df.code.value_counts()

VOLKSWAGEN    1602
TOYOTA        1543
AUDI          1492
BMW           1397
NISSAN        1372
SKODA         1303
MITSUBISHI    1243
MERCEDES      1019
VOLVO          810
HONDA          707
LEXUS          662
INFINITI       531
Name: code, dtype: int64

In [5]:
df

,color_hex,section,price,mileage,state_not_beaten,owners_number,year,custom_cleared,steering_wheel,body_type,...,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor,tax_by_year,osago_price
0,FAFBFB,used,1276000.0,174000,True,1,2016,True,LEFT,LIFTBACK,...,105,77,NaN,NaN,NaN,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
1,EE1D19,used,502280.0,290000,True,3,2009,True,LEFT,LIFTBACK,...,75,55,NaN,NaN,NaN,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
2,FAFBFB,used,1933800.0,75500,True,2,2018,True,LEFT,ALLROAD_5_DOORS,...,150,110,NaN,NaN,NaN,SKODA,KODIAQ,EUROPEAN,5250.0,NaN
3,FAFBFB,used,1496930.0,107983,True,2,2017,True,LEFT,LIFTBACK,...,110,81,NaN,NaN,NaN,SKODA,OCTAVIA,EUROPEAN,9000.0,NaN
4,007F00,used,2100000.0,52387,True,1,2019,True,LEFT,ALLROAD_5_DOORS,...,150,110,NaN,NaN,NaN,SKODA,KODIAQ,EUROPEAN,5250.0,5521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13676,CACECB,used,351000.0,351000,True,2,2007,True,LEFT,SEDAN,...,82,60,NaN,NaN,NaN,MITSUBISHI,LANCER,JAPANESE,1127.0,1952.0
13677,040001,used,477000.0,286200,True,4,2006,True,LEFT,ALLROAD_5_DOORS,...,160,118,NaN,NaN,NaN,MITSUBISHI,OUTLANDER,JAPANESE,6400.0,5047.0
13678,CACECB,used,295800.0,301600,True,4,2006,True,LEFT,SEDAN,...,162,119,NaN,NaN,NaN,MITSUBISHI,LANCER,JAPANESE,980.0,3687.0
13679,0000CC,used,234000.0,526500,True,4,2002,True,LEFT,SEDAN,...,122,90,NaN,NaN,NaN,MITSUBISHI,CARISMA,JAPANESE,3502.0,4022.0
13680,CACECB,used,313501.5,288771,True,4,2007,True,LEFT,SEDAN,...,75,55,NaN,NaN,NaN,MITSUBISHI,LANCER,JAPANESE,980.0,1952.0

In [6]:
df= df.drop_duplicates(ignore_index=True)

In [7]:
df

,color_hex,section,price,mileage,state_not_beaten,owners_number,year,custom_cleared,steering_wheel,body_type,...,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor,tax_by_year,osago_price
0,FAFBFB,used,1276000.0,174000,True,1,2016,True,LEFT,LIFTBACK,...,105,77,NaN,NaN,NaN,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
1,EE1D19,used,502280.0,290000,True,3,2009,True,LEFT,LIFTBACK,...,75,55,NaN,NaN,NaN,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
2,FAFBFB,used,1933800.0,75500,True,2,2018,True,LEFT,ALLROAD_5_DOORS,...,150,110,NaN,NaN,NaN,SKODA,KODIAQ,EUROPEAN,5250.0,NaN
3,FAFBFB,used,1496930.0,107983,True,2,2017,True,LEFT,LIFTBACK,...,110,81,NaN,NaN,NaN,SKODA,OCTAVIA,EUROPEAN,9000.0,NaN
4,007F00,used,2100000.0,52387,True,1,2019,True,LEFT,ALLROAD_5_DOORS,...,150,110,NaN,NaN,NaN,SKODA,KODIAQ,EUROPEAN,5250.0,5521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13676,CACECB,used,351000.0,351000,True,2,2007,True,LEFT,SEDAN,...,82,60,NaN,NaN,NaN,MITSUBISHI,LANCER,JAPANESE,1127.0,1952.0
13677,040001,used,477000.0,286200,True,4,2006,True,LEFT,ALLROAD_5_DOORS,...,160,118,NaN,NaN,NaN,MITSUBISHI,OUTLANDER,JAPANESE,6400.0,5047.0
13678,CACECB,used,295800.0,301600,True,4,2006,True,LEFT,SEDAN,...,162,119,NaN,NaN,NaN,MITSUBISHI,LANCER,JAPANESE,980.0,3687.0
13679,0000CC,used,234000.0,526500,True,4,2002,True,LEFT,SEDAN,...,122,90,NaN,NaN,NaN,MITSUBISHI,CARISMA,JAPANESE,3502.0,4022.0
13680,CACECB,used,313501.5,288771,True,4,2007,True,LEFT,SEDAN,...,75,55,NaN,NaN,NaN,MITSUBISHI,LANCER,JAPANESE,980.0,1952.0

In [8]:
df.code.value_counts()

VOLKSWAGEN    1602
TOYOTA        1543
AUDI          1492
BMW           1397
NISSAN        1372
SKODA         1303
MITSUBISHI    1243
MERCEDES      1019
VOLVO          810
HONDA          707
LEXUS          662
INFINITI       531
Name: code, dtype: int64

In [9]:
df.to_csv('autoru_parse_Moscow2.csv', sep='\t', encoding='utf-8')